<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ktds.crmai.service.impl.AdminMapper">

    <select id="selectAdminById" resultType="admin">
        SELECT ADM_ID
              ,ADM_PW
              ,ADM_ROLE
              ,ADM_NAME
              ,ADM_EMAIL
              ,ADM_CDATE
              ,ADM_UDATE
          FROM AI_ADMINUSER
         WHERE ADM_ID = #{ADM_ID}
    </select>

    <select id="selectAllAdmin" resultType="admin">
        SELECT ADM_ID
              ,ADM_PW
              ,ADM_ROLE
              ,ADM_NAME
              ,ADM_EMAIL
              ,ADM_CDATE
              ,ADM_UDATE
          FROM AI_ADMINUSER
    </select>

    <insert id="insertAdmin">
      INSERT INTO AI_ADMINUSER (ADM_ID, ADM_PW, ADM_TYPE, ADM_NAME, ADM_EMAIL, ADM_CDATE, ADM_UDATE)
      VALUES (#{ADM_ID}, #{ADM_PW}, #{ADM_TYPE}, #{ADM_NAME},#{ADM_EMAIL}, sysdate, sysdate)
    </insert>

</mapper>