<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ktds.crmai.service.impl.AdminMapper">

    <select id="selectAdminById" resultType="admin">
        SELECT 
	        usr.ADM_ID as "ADM_ID" 
	        ,ADM_PW as "ADM_PW"
	        ,ADM_ROLE as "ADM_ROLE"
	        ,ADM_NAME as "ADM_NAME"
	        ,ADM_EMAIL as "ADM_EMAIL"
	        ,ADM_CDATE as "ADM_CDATE"
	        ,ADM_UDATE as "ADM_UDATE"
	        ,ADM_LOGIN as "ADM_LOGIN"
	        ,(select count(*) from AI_CAMPAIGN camp where camp.ADM_ID = usr.ADM_ID) as "CAM_CNT"
          FROM ai_account usr
         WHERE usr.ADM_ID = #{ADM_ID}
    </select>

    <select id="selectAllAdmin" resultType="admin">
        SELECT 
        	usr.ADM_ID as "ADM_ID" 
	        ,ADM_PW as "ADM_PW"
	        ,ADM_ROLE as "ADM_ROLE"
	        ,ADM_NAME as "ADM_NAME"
	        ,ADM_EMAIL as "ADM_EMAIL"
	        ,ADM_CDATE as "ADM_CDATE"
	        ,ADM_UDATE as "ADM_UDATE"
	        ,ADM_LOGIN as "ADM_LOGIN"
	        ,(select count(*) from AI_CAMPAIGN camp where camp.ADM_ID = usr.ADM_ID) as "CAM_CNT"
          FROM ai_account usr
    </select>
    
    <update id="updateAdminById">
        UPDATE ai_account SET (ADM_LOGIN) = ( SELECT (ADM_LOGIN + 1) as "ADM_LOGIN" FROM AI_ADMINUSER WHERE ADM_ID = #{ADM_ID} ), ADM_UDATE = sysdate WHERE ADM_ID = #{ADM_ID}
    </update>
    

    <insert id="insertAdmin">
      INSERT INTO ai_account (ADM_ID, ADM_PW, ADM_TYPE, ADM_ROLE, ADM_NAME, ADM_EMAIL, ADM_CDATE, ADM_UDATE, ADM_LOGIN)
      VALUES (#{ADM_ID}, #{ADM_PW}, #{ADM_TYPE}, 1, #{ADM_NAME},#{ADM_EMAIL}, sysdate, sysdate, 0)
    </insert>

</mapper>