<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ktds.crmai.service.impl.AiModelMapper">

    <select id="selectAiTrainModel" resultType="model">
	    select 
	       cam_id, 
	       train_method,
	       round(ORIGINAL_ACC * 100, 1) as original_acc,  --정확도
	       round(SO_ACC * 100, 1) as so_acc,              --예측
	       train_start, 
	       train_end, 
	       model_flag, 
	       desc_text 
		from 
		    ai_train_model 
		where 
		    cam_id = #{cam_id}
    </select>


</mapper>