<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ktds.crmai.service.impl.CampaignMapper">
	<resultMap type="com.ktds.crmai.model.AICampaign" id="campaignMap">
		<id column="CAM_ID" property="camId"/>
		<result column="RNUM" property="rnum"/>
		<result column="ADM_ID" property="admId"/>
		<result column="CAM_NAME" property="camName"/>
		<result column="CAM_DESC" property="camDesc"/>
		<result column="CAM_ITYPE" property="camItype"/>
		<result column="CAM_IFILENAME" property="camIfileName"/>
		<result column="CAM_OTYPE" property="camOtype"/>
		<result column="CAM_OFILENAME" property="camOfileName"/>
		<result column="CAM_CDATE" property="camCdate"/>
		<result column="CAM_IDATE" property="camIdate"/>
		<result column="CAM_TYPE" property="camType"/>
		<result column="CAM_STATUS" property="camStatus"/>
		<result column="CAM_MSG" property="camMsg"/>
		<result column="CAM_ICNUM" property="camIcNum"/>
		<result column="CAM_AUTO_YN" property="camAutoYn"/>
	</resultMap>

     <select id="selectCampaignPage" resultType="campaign">
		select * 
			from (
			    select <![CDATA[ rownum as rnum ]]> , A.cam_id, A.cam_name, A.adm_id, A.cam_type, A.cam_status, A.cam_itype, A.cam_autoyn, A.cam_icnum, A.cam_ifilename,  A.cam_idate, A.cam_otype, A.cam_ofilename, A.cam_cdate, A.cam_desc, A.cam_msg 
			    from
			        (
			         select cam_id, cam_name, adm_id, cam_type, cam_status, cam_itype, cam_autoyn, cam_icnum, cam_ifilename,  cam_idate, cam_otype, cam_ofilename, cam_cdate, cam_desc, cam_msg  
			         from ai_campaign 
			         where adm_id = #{adm_id} order by cam_id desc 
			         ) A
			    where <![CDATA[ rownum <= #{page_end} ]]> 
			    ) B
		where b.rnum >= #{page_st}
    </select>
     
    <select id="selectCamPageNum" resultType="int">
		select count(*) as totalCount from ai_campaign where adm_id = #{adm_id}
    </select>
    
    <select id="selectCampaignSeq" resultType="campaign">
    	select cam_seq.nextval as "cam_seq" from dual
    </select>
    
    <select id="selectCampaignAiStatus" resultType="campaign">
    	select 
		  cam_id as "cam_id",
		  cam_itype as "cam_itype",
		  cam_otype as "cam_otype",
		  cam_msg as "cam_msg"
		from 
		  ai_campaign
		where
		  cam_id =  #{cam_id}
    </select>	
    
    <insert id="insertCampaign">
	    insert into ai_campaign(cam_id, adm_id, cam_name, cam_desc, cam_type, cam_ifilename, cam_itype, cam_autoyn,  cam_otype, cam_ofilename, cam_cdate, cam_status) 
		values ( #{cam_seq}, #{adm_id}, #{cam_name}, #{cam_desc}, #{cam_type}, #{cam_ifilename}, #{cam_itype}, #{cam_autoyn}, #{cam_otype}, #{cam_ofilename}, sysdate,'시작')
	</insert>
    
	<!-- 파라메터 존재하는 캠페인 쿼리 -->
	<select id="selectCampaignList" resultMap="campaignMap" parameterType="hashmap">
		select * 
			from (
			    select <![CDATA[ rownum as rnum ]]> , A.cam_id, A.cam_name, A.adm_id, A.cam_type, A.cam_status, A.cam_itype, A.cam_autoyn, A.cam_icnum, A.cam_ifilename,  A.cam_idate, A.cam_otype, A.cam_ofilename, A.cam_cdate, A.cam_desc, A.cam_msg 
			    from
			        (
				         select cam_id, cam_name, adm_id, cam_type, cam_status, cam_itype, cam_autoyn, cam_icnum, cam_ifilename,  cam_idate, cam_otype, cam_ofilename, cam_cdate, cam_desc, cam_msg  
				         from ai_campaign
				         
				         <where>
				         		adm_id = #{admId}
				         	
				         	<if test="camName != null">
				         		AND CAM_NAME LIKE '%' || #{camName} || '%'
				         	</if>
				         	<if test='(camType != null) and !(camType eq "".toString())'>
				         		AND CAM_TYPE = #{camType}
				         	</if>
				         	<if test='(camStatus != null) and !(camStatus eq "".toString())'>
				         		AND CAM_STATUS = #{camStatus}
				         	</if>
				         </where>
				          
				         order by cam_id desc 
			         ) A
			    where <![CDATA[ rownum <= #{pageEnd} ]]> 
			    ) B
		where b.rnum >= #{pageSt}
	</select>
</mapper>