<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktds.crmai.service.impl.PredictMapper">
	<resultMap type="com.ktds.crmai.model.AIPredict"
		id="aiPredictMap">
		<result column="ST_SEQ" property="stSeq" />
		<result column="CAM_ID" property="camId" />
		<result column="TRAIN_METHOD" property="trainMethod" />
		<result column="PREDICT" property="predict" />
		<result column="SUCC_PROB" property="succProb" />
		<result column="FAIL_PROB" property="failProb" />
		<result column="ST_C1" property="stC1" />
	</resultMap>
	
	<sql id="inputParam">
		<if test='(succProb != null) and !(succProb eq "".toString())'>
			AND SUCCESS_PROB BETWEEN CAST(#{succProb} AS numeric) AND 1
		</if>
	</sql>
	
	<!-- 모든 목록 -->
	<select id="selectAllPredictList" resultMap="aiPredictMap"
		parameterType="com.ktds.crmai.model.AIPredict">
		SELECT P.ST_SEQ,
		P.src_ID,
		P.TRAIN_METHOD,
		P.PREDICT_val,
		ROUND(cast(P.SUCCESS_PROB * 100 as numeric), 2) as SUCC_PROB,
		ROUND(cast(P.FAIL_PROB * 100 as numeric), 2) as FAIL_PROB,
		T.ST_C1
		FROM T_SRC_PREDICT P INNER JOIN AI_STAGING_TEST T
		ON P.ST_SEQ = T.ST_SEQ
		WHERE P.SRC_ID = #{camId}

		<if test="predict != null and predict != '' ">
			AND ROUND(CAST(P.SUCC_PROB * 100 AS NUMERIC), 2) >= #{predict}
		</if>

		ORDER BY P.ST_SEQ ASC
		<if test="rnum != null and rnum != '' ">
		LIMIT <![CDATA[CAST(#{rnum} as numeric)]]>
		</if>
	</select>
	
	<!-- 파라메터 존재하는 예측 결과 갯수 쿼리 -->
	<select id="selectPredictCnt" resultType="int" parameterType="hashmap">
		SELECT COUNT(*)
		FROM T_SRC_PREDICT P INNER JOIN AI_STAGING_TEST T
        		ON P.ST_SEQ = T.ST_SEQ
        WHERE P.SRC_ID = #{camId}
        
        <if test="(extractCnt != null) and (extractCnt != 0.0)">
        	LIMIT <![CDATA[ CAST(#{extractCnt} as numeric) ]]>
        </if>
        
        <include refid="inputParam"></include>

	</select>

	<!-- 페이징 처리 목록 -->
	<select id="selectPredictList" resultMap="aiPredictMap" parameterType="hashmap">
		SELECT *
		FROM (
				SELECT (ROW_NUMBER() OVER()) as RNUM, A.*
				FROM (
				        SELECT P.ST_SEQ,
							   P.SRC_ID,
							   P.TRAIN_METHOD,
							   P.PREDICT_VAL,
							   ROUND(CAST(P.SUCCESS_PROB * 100) AS NUMERIC) as SUCC_PROB,
							   ROUND(CAST(P.FAIL_PROB * 100) AS NUMERIC) as FAIL_PROB,
							   ST_C1
						  FROM T_SRC_PREDICT P INNER JOIN AI_STAGING_TEST T
				        			ON P.ST_SEQ = T.ST_SEQ
				         WHERE P.SRC_ID = #{camId}
				         
				         <include refid="inputParam"></include>
				         
				         ORDER BY ST_SEQ
				      ) A
				LIMIT <![CDATA[ CAST(#{listEnd} AS NUMERIC)]]>
	    	 ) B
	    LIMIT <![CDATA[ CAST(#{listStart} AS NUMERIC)]]>
	</select>
	
	<!-- 다운로드 시 사용하는 쿼리 -->
	<select id="getPredictDown" resultMap="aiPredictMap" parameterType="hashmap">
		SELECT (ROW_NUMBER() OVER()) as RNUM, A.*
		  FROM (
				       SELECT P.ST_SEQ,
							  P.SRC_ID,
							  P.TRAIN_METHOD,
							  P.PREDICT_VAL,
							  ROUND(CAST(P.SUCCESS_PROB * 100) AS NUMERIC) as SUCC_PROB,
							  ROUND(CAST(P.FAIL_PROB * 100) AS NUMERIC) as FAIL_PROB,
							  ST_C1
						 FROM T_SRC_PREDICT P INNER JOIN AI_STAGING_TEST T
				        			ON P.ST_SEQ = T.ST_SEQ
				        WHERE P.SRC_ID = #{camId} 
				        
				        <include refid="inputParam"></include>
				        
                        ORDER BY ST_SEQ
			   ) A
			   
		 <where>
		 	<if test="(extractCnt != null) and (extractCnt != 0.0)">
	        	LIMIT <![CDATA[ CAST (#{extractCnt} AS NUMERIC) ]]>
	        </if>
		 </where>
	</select>
</mapper>