<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktds.crmai.service.impl.PredictMapper">
	<resultMap type="com.ktds.crmai.model.AIPredict" id="aiPredictMap">
		<result column="ST_SEQ" property="stSeq"/>
		<result column="CAM_ID" property="camId"/>
		<result column="TRAIN_METHOD" property="trainMethod"/>
		<result column="PREDICT" property="predict"/>
		<result column="SUCC_PROB" property="succProb"/>
		<result column="FAIL_PROB" property="failProb"/>
		<result column="ST_C1" property="stC1"/>
	</resultMap>
	
	<!-- 모든 목록 -->
	<select id="selectAllPredictList" resultMap="aiPredictMap" parameterType="com.ktds.crmai.model.AIPredict">
		SELECT P.ST_SEQ,
			   P.CAM_ID,
			   P.TRAIN_METHOD,
			   P.PREDICT,
			   ROUND(P.SUCC_PROB * 100, 2) as SUCC_PROB,
			   ROUND(P.FAIL_PROB * 100, 2) as FAIL_PROB,
			   R.ST_C1
		  FROM AI_TEST_PREDICT P INNER JOIN AI_STAGING_TEST R
        		ON P.ST_SEQ = R.ST_SEQ
         WHERE P.CAM_ID = #{camId}
	</select>
	
	<!-- 페이징 처리 목록 -->
	
</mapper>